$icon-font-path: "lib/bootstrap-sass/assets/fonts/bootstrap/"

$brand-primary: #cb3524
$body-bg: #333
$text-color: #FFF

$font-family-sans-serif: "Segoe UI", Segoe, sans-serif
$headings-font-family: "Segoe UI Light", "Segoe UI", Segoe, sans-serif

$jumbotron-bg: transparent

$navbar-default-bg: #101010
$navbar-default-color: #FFF
$navbar-default-link-color: $brand-primary
$navbar-default-link-hover-color: $navbar-default-color
$navbar-default-link-active-color: $navbar-default-link-hover-color
$headings-font-weight: 200
$navbar-default-brand-hover-color: $navbar-default-link-hover-color
